<?xml version="1.0"?>
<launch>

	<node name="example_publish"				pkg="tutorial_publish"
			type="example_publish"				output="screen"
	>
		<param name="example_queqe_publish"	type="int" value ="2"/>
		<param name="example_rate_publish"	type="double" value="100"/>
		<param name="example_value_publish" type="int" value="1000"/>
		<param name="example_round_publish" type="int" value="5"/>
		<param name="example_sleep_publish" type="int" value="5"/>
	</node>

</launch>
